[submodule "libxrlt/deps/v8"]
	path = libxrlt/deps/v8
	url = https://github.com/v8/v8.git
[submodule "libxrlt/deps/gyp"]
	path = libxrlt/deps/gyp
	url = http://git.chromium.org/external/gyp.git
[submodule "libxrlt/deps/yajl"]
	path = libxrlt/deps/yajl
	url = https://github.com/lloyd/yajl.git
[submodule "libxrlt/deps/libxml"]
	path = libxrlt/deps/libxml
	url = git://git.gnome.org/libxml2
[submodule "libxrlt/deps/libxslt"]
	path = libxrlt/deps/libxslt
	url = git://git.gnome.org/libxslt
